---
/**
 * Components
 */
import Layout from "@/layouts/Layout.astro";
import AspmMainPage from "@/components/ASPM-Overview/aspm-page";
/**
 * Utils
 */
import { getLangFromUrl } from "@/i18n/utils";
/**
 * Variables
 */
const lang = getLangFromUrl(Astro.url);
---

<Layout>
  <div class="min-h-screen flex items-center w-full justify-center">
    <main class="w-screen overflow-x-hidden">
      <AspmMainPage lang={lang} client:load />
    </main>
  </div>
</Layout>
