---
/**
 * Components
 */
import Layout from "@/layouts/Layout.astro";
import LegalNoticeComponent from "@/components/legal-notice";

/**
 * Utils
 */
import { getLangFromUrl } from "@/i18n/utils";

/**
 * Variables
 */
const lang = getLangFromUrl(Astro.url);
---
<Layout>
  <div class="flex min-h-screen flex-col">
    <main>
      <LegalNoticeComponent lang={lang} client:load/>
    </main>
  </div>
</Layout>

