---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="md:container px-4 flex justify-center py-16">
    <div class="max-w-4xl w-full flex flex-col">
      <div class="flex justify-center items-center mt-16 w-full">
        <h1 class="text-4xl font-semibold">Plexicus Privacy Policy</h1>
      </div>
      <div class="flex mt-16 font-semibold text-lg">Last Revised: May 2025</div>
      <div class="mt-4 text-lg">
        <p>
          This Privacy Policy outlines how Plexicus, S.L. ("we," "us," or "our")
          handles the personal data of users of our website and individuals who
          provide their personal data through designated channels. This policy
          applies to all interactions with Plexicus, S.L. where personal data is
          collected and processed.
        </p>
        <h2 class="mt-8 text-xl font-semibold">
          Identity of the Data Controller
        </h2>
        <p class="mt-4">
          Plexicus, S.L., located at Calle Sabino Arana Etorbidea 8, 2ª 48013
          Bilbao, Spain, is the entity responsible for the processing of your
          personal data.
        </p>
        <h2 class="mt-8 text-xl font-semibold">
          Purpose for Which Your Personal Data are Processed, Legitimizing
          Basis, and Data Retention Periods
        </h2>
        <p class="mt-4">
          Processing Based on Consent: We process your personal data based on
          your explicit consent for the following purposes:
        </p>
        <ul class="list-disc mt-4 gap-6 flex flex-col">
          <li>
            <strong>Managing User Information Requests:</strong> When you request
            information from us, the personal data you provide will be used solely
            to address your inquiries and provide the requested information within
            legal timeframes. This data will be retained only as long as necessary
            to manage your request and any related obligations, after which it will
            be securely deleted.
          </li>
          <li>
            <strong>Management of Recruitment Processes:</strong> If you apply for
            a job opening or participate in our recruitment processes, your personal
            data will be processed exclusively for candidate selection and the management
            of your application. Your data will be kept for the legally permitted
            duration following the recruitment process, after which it will be deleted.
          </li>
        </ul>
        <p class="mt-4">
          We will only process your personal data when you have freely,
          specifically, informed, and unambiguously given your consent through
          the designated channels. You have the right to withdraw your consent
          at any time by using the contact methods provided in the "Exercise of
          the Rights of the Interested Parties" section below.
        </p>
        <p class="mt-4">
          You are responsible for ensuring that the personal data you provide is
          accurate, truthful, and up-to-date. Providing incomplete or inaccurate
          mandatory information may prevent us from fulfilling your requests or
          providing the necessary services..
        </p>
        <h2 class="mt-8 text-xl font-semibold">
          Receipts of Personal Data and International Data Transfers
        </h2>
        <p class="mt-4">
          Your personal data may be disclosed or transferred to Public
          Administrations or other entities if such disclosure is required by
          law or necessary to fulfill your request.
        </p>
        <p class="mt-4">
          Furthermore, to provide you with efficient service regarding your
          inquiries, your contact information may be subject to international
          data transfer to countries located outside of Indonesia. We will
          ensure that any such transfers comply with the requirements of
          applicable data protection regulations concerning international data
          transfers.
        </p>
        <h2 class="mt-8 text-xl font-semibold">
          Excercise of the Rights of the Interested Parties
        </h2>
        <ul class="list-disc mt-4 gap-6 flex flex-col">
          <li>
            Right of Access: To obtain confirmation as to whether or not
            personal data concerning you is being processed, and, where that is
            the case, access to the personal data and certain related
            information.
          </li>
          <li>
            Right to Rectification: To obtain the rectification of inaccurate
            personal data concerning you, and to complete incomplete personal
            data.
          </li>
          <li>
            Right to Erasure ("Right to be Forgotten"): To obtain the erasure of
            personal data concerning you under certain circumstances.
          </li>
          <li>
            Right to Restriction of Processing: To obtain the restriction of
            processing of your personal data under certain circumstances.
          </li>
          <li>
            Right to Data Portability: To receive the personal data concerning
            you, which you have provided to us, in a structured, commonly used
            and machine-readable format and have the right to transmit those
            data to another controller without hindrance from us.
          </li>
          <li>
            Right to Object: To object, on grounds relating to your particular
            situation, at any time to processing of personal data concerning
            you, including profiling.
          </li>
          <li>
            Right not to be subject to a decision based solely on automated
            processing, including profiling: Which produces legal effects
            concerning you or similarly significantly affects you.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
