<!DOCTYPE html>
<html lang="zxx" class="no-js">

{% include head.html %}


<body class="version2 pages">
    <!-- start Header Area -->
    <header id="header">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div id="logo">
                    <a href="{{ '/' | relative_url }}">
                        <img class="logo-1" src="{{ 'img/logo.png' | relative_url }}" alt="" title="" />
                    </a>
                    <a href="{{ '/' | relative_url }}">
                        <img class="logo-2" src="{{ 'img/logo.png' | relative_url }}" alt="" title="" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->


{{ content }}


{% include footer.html %}
{% include scripts.html %}

</body>

</html>
