---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/hero-section";
import RemediationRace from "../components/remediation-race";
import HowItWorks from "../components/how-it-works";
import Partners from "../components/partners";
import Integrations from "../components/integrations";
import Testimonials from "../components/testimonials";
import ContactSection from "../components/contact-section";
---

<Layout>
  <div class="flex min-h-screen flex-col">
    <main>
      <HeroSection />
      <RemediationRace  client:load/>
      <HowItWorks  client:load/>
      <Partners client:load/>
      <Integrations client:load/>
      <Testimonials client:load/>
      <ContactSection client:load/>
    </main>
  </div>
</Layout>