---
import Layout from "../layouts/Layout.astro";
import PricingSection from "../components/pricing-section";
---
<Layout>
  <div class="flex min-h-screen flex-col">
    <main>
      <PricingSection client:load/>
    </main>
  </div>
</Layout>

