---
import "../styles/globals.css";
import Navbar from "../components/navbar";
import Footer from "../components/footer";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
		
  </head>
  <Navbar client:load/>
  <body>
    <!-- Wrap the slot element with your existing layout templating -->
    <slot />
  </body>
  <Footer />
</html>