---
import Layout from "@/layouts/Layout.astro";
import PrivacyPolicy from "@/components/PrivacyPolicy/privacy-policy";
/**
 * Utils
 */
import { getLangFromUrl, generateLocalizedPaths } from "@/i18n/utils";
/**
 * Variables
 */
const lang = getLangFromUrl(Astro.url);
export async function getStaticPaths() {
  const paths = await generateLocalizedPaths();
  return paths;
}
---

<Layout>
  <div class="flex min-h-screen flex-col">
    <div class="bg-[#8220ff] w-full h-[64px]"></div>
    <main>
      <PrivacyPolicy lang={lang} client:load/>
    </main>
  </div>
</Layout>
