name: Deploy Blog to GitHub Pages
on:
  push:
    branches: ["main"]
    paths:
      - "blog/**"
      - ".github/workflows/deploy-blog.yml"
  pull_request:
    branches: [main]
    paths:
      - "blog/**"
      - ".github/workflows/deploy-blog.yml"

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages-blog"
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          cd blog
          npm ci
      - run: |
          cd blog
          npm run build
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: blog/dist
          cname: blog.plexicus.ai
          publish_branch: gh-pages-blog
